<div #eRef class="mt-5 container" (click)="selectedText = ''">
    <h3>English</h3>
    <div id="english" (contextmenu)="onContextMenu($event)">
        <p>
            Ne gule-e naghma hoon, na parda-e saaz;<br>
            main hoon apni shikast ki aawaz
        </p>
    </div>
    <app-show-translated idref="english" [selections]="selectionMap" [content]="getTranslatedText(selectionMap['english'])"></app-show-translated>
    <h3>Hindi</h3>
    <div id="hindi" (contextmenu)="onContextMenu($event)">
        <p>ने गुल-ए नगमा हूं, ना परदा-ए साज़;</p>
        <p>मैं हूं अपनी शिकस्त की आवाज</p>
    </div>
    <app-show-translated idref="hindi" [selections]="selectionMap" [content]="getTranslatedText(selectionMap['hindi'])"></app-show-translated>
</div>

<!-- <button class="btn btn-primary btn-sm" (click)="show()">Toggle Show</button> -->


<ul class="list-group contextMenuCls" *ngIf="selectedText.length > 0" style="position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y">
    <li class="list-group-item">
            <input type="text" class="form-control" placeholder="Tag Text" [(ngModel)]="tagText">
            <button class="btn btn-primary btn-sm m-2" (click)="tagSelectionWithText()">Tag Text</button>
    </li>
    <li class="list-group-item">
        Tag Selection with an Image
        <label class="btn btn-default">
            <i class="upload bi bi-cloud-upload"></i> <input type="file" hidden (change)="handleFileInput($event)">
        </label>
        <span>{{uploadedImage?.name}}</span>
    </li>
    <li class="list-group-item">Tag Selection with an Audio</li>
</ul>
