<div class="card mb-1" *ngFor="let topic of topics">
    <div class="card-body">
        <button type="button" *ngIf="topic.storyCreatedBy !== loggedInUser && topic.storyDpr === 'Yes (public)'" class="btn btn-primary float-end m-1" (click)="editTopic(topic)">
            <i class="bi bi-pencil"></i>
        </button>
        <div class="row">
            <div *ngIf="topic.dprApprovals && topic.storyCreatedBy === loggedInUser">
                <p><b>DPR</b> </p>
                <p>Tags : {{topic.dprTags?.length}}</p>
                <p>Attachments : {{topic.dprImageUrl?.length}}</p>
                <button type="button" class="btn btn-primary float-end m-1"> Approve DPR </button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" *ngFor="let item of topic?.storyImageUrl">
                        <img [src]="item.imgSrc" class="d-block w-50 h-50" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>{{item.imgTitle}}</h5>
                          <p>{{item.imgDescription}}</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div> 
            </div>
            <div class="col-5">
                <div>
                    <b>Title: </b>
                    <p>{{topic?.content?.storyTitle}}</p>
                </div>
                <div>
                    <b>Summary: </b>
                    <p>{{topic?.content?.storySummary}}</p>
                </div>
                <div class="mb-2">
                    <b>Description: </b>
                    <p>{{topic?.content?.storyDescription}}</p>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <b>Story Created Date: </b>
                    <p>{{topic?.storyCreatedDate}}</p>
                </div>
                <div>
                    <b>Story Created By: </b>
                    <p>{{topic?.storyCreatedBy}}</p>
                </div>
                <div>
                    <b>Story Updated Date: </b>
                    <p>{{topic?.storyUpdatedDate}}</p>
                </div>
                <div>
                    <b>Story Updated By: </b>
                    <p>{{topic?.storyUpdatedBy}}</p>
                </div>
                <div>
                    <b>Permissions: </b>
                    <p>{{topic?.storyPermissions}}</p>
                </div>
                <div>
                    <b>Output Template: </b>
                    <p>{{topic?.storyOutputTemplate}}</p>
                </div>
                <div>
                    <b>DPR: </b>
                    <p>{{topic?.storyDpr}}</p>
                </div>
                <div>
                    <b>Monetization: </b>
                    <p>{{topic?.storyMonetization}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
