<div class="row">
    <div class="col-3">
        <div class="card" style="height: 100%;">
            <div class="card-header">
              <input class="form-control me-2" [(ngModel)]="topicSummarySearchStr" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let topic of topics;let i = index">
                      <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" (click)="viewTopic(topic, i)">
                      <span style="margin-left: 10px;" (click)="viewTopic(topic, i)">{{getEllipsisText(topic.storySummary)}}</span>
                      <span class="float-end">
                        <i class="bi bi-trash m-1" (click)="deleteTopic(topic)"></i>
                        <i class="bi bi-pencil m-1" (click)="editTopic(topic)"></i>
                      </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card" *ngIf="topic" style="height: 100%;">
            <app-story-details [topic]="topic"></app-story-details>
        </div>
    </div>
</div>
