.modal-xl .modal-lg {
    max-width: 90%;
}

.btn.btn-rounded {
    border-radius: 50px;
}  

.addIcon {
    font-size: 40pt;
    color: green;
    cursor: pointer;
    margin-left: 5%;
    margin-top: -15px;
}

.myCustomModalClass {
    .modal-dialog{
        max-width: 90% !important;
        background-color: green;
    }
    max-width: 90% !important;
}