<div class="container d-flex py-2">
      <form style="width: 85%;">
          <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-search"></i>
              </span>
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Akt</button>
          </div>
      </form>
      <i class="bi bi-plus-circle-fill addIcon" (click)="newTopic()"></i>
  </div>