.btnblock {
    width: 90%
}

#flexSwitchCheckDefault {
    width: 70%;
    height: 30px;
}

#qrCode {
    display: flex;
    float: right;
}

#optionsMenu {
    margin-left: 10%;
}

#selectOptions {
    margin-top: 10%;
}

.iconOptions {
    display: flex;
    float: right;
    i {
        margin-right: 10px;
    }
}

.contextMenuCls {
    background: white;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5%;
}

.blur {
    color: transparent;
    text-shadow: 0 0 8px #000;
}

.markUnderline {
    text-decoration: underline;
}

.inlineInput {
    border: none;
}


