.tagsCls {
    button {
        padding: 5px;
        width: auto;
    }
}

.contextMenuCls {
    li:hover {
        background-color: beige;
    }
}

.attachmentsImg {
    width: 100px;
    height: 100px;
}

.closeBtn {
    margin-right: 2%;
    margin-top: 1%;
}

.editIcon {
    margin-left: 2%;
    margin-top: 1%;
}