.tagsCls {
    button {
        padding: 5px;
        width: auto;
    }
}

.contextMenuCls {
    li:hover {
        background-color: beige;
    }
}

.attachmentsImg {
    width: 100px;
    height: 100px;
}