<div class="closeBtn" *ngIf="pageView === 'card'">
    <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="row m-3" *ngIf="topic">
    <div class="col">
        <div (click)="selectedText = ''">
            <div>
                <b>Title: </b>
                <p>{{topic?.storyTitle}}</p>
            </div>
            <div>
                <b>Summary: </b>
                <p>{{topic?.storySummary}}</p>
            </div>
            <div class="mb-2">
                <b>Description: </b>
                <div #eRef (contextmenu)="onContextMenu($event)" [innerHTML]="parsedTopicDescription"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-3">
                    <div>
                        <b>Story Created Date: </b>
                        <p>{{topic?.storyCreatedDate}}</p>
                    </div>
                    <div>
                        <b>Story Created By: </b>
                        <p>{{topic?.storyCreatedBy}}</p>
                    </div>
                    <div>
                        <b>Story Updated Date: </b>
                        <p>{{topic?.storyUpdatedDate}}</p>
                    </div>
                    <div>
                        <b>Story Updated By: </b>
                        <p>{{topic?.storyUpdatedBy}}</p>
                    </div>
                    <div>
                        <b>Permissions: </b>
                        <p>{{topic?.storyPermissions}}</p>
                    </div>
                    <div>
                        <b>Output Template: </b>
                        <p>{{topic?.storyOutputTemplate}}</p>
                    </div>
                    <div>
                        <b>DPR: </b>
                        <p>{{topic?.storyDpr}}</p>
                    </div>
                    <div>
                        <b>Monetization: </b>
                        <p>{{topic?.storyMonetization}}</p>
                    </div>

                </div>
                <div class="col-1 d-flex" style="height: 500px;justify-content: end;">
                    <div class="vr"></div>
                  </div>
                <div class="col-8">
                    <div class="row">
                        <img *ngFor="let item of topic?.storyImageUrl" [src]="item.url" class="img-thumbnail attachmentsImg m-1" alt="..."
                            (click)="showAttachmentModal(item)" />
                        <!-- <span *ngIf="showMore"> + Show More</span>
                        <span *ngIf="!showMore"> - Show Less</span> -->
                    </div>  
                </div>
            </div>
            <div>
                <b>Tags: </b>
                <span class="badge bg-info m-2" cdkDrag cdkDragBoundary=".tag-boundary"
                    *ngFor="let tag of topic?.storyTags" type="button">
                    <i [ngClass]="getTagIcon(tag.tagCategory)"></i>
                    <span> {{tag.tagName}} </span>
                    <i class="bi bi-pencil"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<ul #eRef class="list-group contextMenuCls" *ngIf="selectedText.length > 0" style="position: fixed"
    [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y">
    <li class="list-group-item" (click)="tagSelected()">Tag Selected Text</li>
    <li class="list-group-item" (click)="tagSelected()">New Item</li>
    <li class="list-group-item" (click)="tagSelected()">My Item</li>
</ul>

<!-- <app-attachment-modal *ngIf="showAttachmentModal" [imageUrl]="topic?.storyImageUrl"></app-attachment-modal> -->
