<app-nav-menu></app-nav-menu>
<app-aktbay-search></app-aktbay-search>
<div class="form-check form-switch float-end">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="switchView" (click)="switchViewClick()">
  <label class="form-check-label" for="flexSwitchCheckChecked">Switch View</label>
</div>
<div *ngIf="switchView" class="container-fluid py-1">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a [ngClass]="curPage === 'Private' ? 'nav-link active' : 'nav-link'" aria-current="page" href="javascript:void(0)" (click)="switchPage('Private')">My Stories (Private)</a>
    </li>
    <li class="nav-item">
      <a [ngClass]="curPage === 'Public' ? 'nav-link active' : 'nav-link'" href="javascript:void(0)" (click)="switchPage('Public')">Public</a>
    </li>
  </ul>
  
  <div class="row m-3">
      <app-aktbay-topics [topics]="(topics$ | async)"></app-aktbay-topics>
  </div>
</div>
<div *ngIf="!switchView" class="container-fluid py-1">
  <div class="row m-3">
      <app-aktbay-topics-view [topics]="(topics$ | async)" [updatedIndex]="(updatedIndex | async)"></app-aktbay-topics-view>
  </div>
</div>
