.topicTitle {
    font-size: 1.5rem;
    font-weight: 600;
    width: 85%;
}

.topicActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 2%;
    font-size: 1.5rem;
    font-weight: 600;
}

.storycardimg {
    width: 90%;
    height: 100%;
    object-fit: cover;
    margin: 5%

}