<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Attachments</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row mb-2">
            <input type="text" class="form-control" [(ngModel)]="imgTitle" aria-label="Uploaded Image Title"
                placeholder="Uploaded Image Title">
        </div>
        <div class="row mb-2">
            <input type="text" class="form-control" [(ngModel)]="imgDescription" aria-label="Uploaded Image Description"
                placeholder="Uploaded Image Description">
        </div>
        <div class="row">
            <label class="btn btn-default">
                <i class="upload bi bi-cloud-upload"></i> <input type="file" hidden (change)="handleFileInput($event)">
            </label>
            <span>{{uploadedImage?.name}}</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success float-end" (click)="addImage()">Add Image</button>
</div>
