<div class="container-fluid mt-5" (click)="selectedText=''">
    <div class="row">
        <div class="col-md-12">
        <div class="card">
            <div class="card-header">
            Annotate Content
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea class="form-control" id="content" rows="3" [(ngModel)]="content"></textarea>
                    </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                    <button class="btn btn-primary" (click)="annotate()">Annotate</button>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <label for="annotatedContent">
                            Annotated Content {{playNow ? 'Play Mode On' : 'Play Mode Off'}}
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" (change)="handleCheckBoxChange($event)" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Play Now</label>
                        </div>
                        <div class="mt-3">
                            {{correctAnswersCount}}/{{getQuestionsLength()}} Correct Answers
                        </div>
                        <div class="mt-3" #container (contextmenu)="onContextMenu($event)" [innerHTML]="paragraphedContent"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>


<div class="contextMenuCls" *ngIf="selectedText.length > 0" style="position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y">
     <!-- <span class="input-group-text audioBtn" id="basic-addon2"><i class="bi bi-music-note-list"></i></span> -->
    <div class="input-group mb-3">
        <textarea type="text" class="form-control" placeholder="Tag Text" [(ngModel)]="tagText" aria-label="Tag Text" aria-describedby="basic-addon2"></textarea>
        <!--<div class="input-group-append">
          <span class="input-group-text imageBtn" id="basic-addon2">
            <label class="uploadBtn">
                <i class="bi bi-image"></i> 
                <input type="file" accept="image/png, image/jpeg, image/gif" hidden (change)="handleFileInput($event)">
            </label>
          </span>
        </div>-->
    </div>
    <span><b style="font-size: x-small;">{{uploadedImage?.name}}</b></span>
    <div class="btn-group" style="display: flex;" role="group" aria-label="Basic example">
        <button type="button" (click)="tagSelectionWithText('dblline', tagText)" class="btn btn-outline-secondary grpCls"><span class="dblLine">A</span></button>
        <button type="button" (click)="tagSelectionWithText('singleline', tagText)" class="btn btn-outline-secondary singleLine">A</button>
        <button type="button" (click)="tagSelectionWithText('highlight', tagText)" class="btn btn-outline-secondary highlighter">A</button>
        <button type="button" class="btn btn-outline-secondary grpCls imageBtn">
            <label class="uploadBtn">
                <i class="bi bi-image"></i> 
                <input type="file" accept="image/png, image/jpeg, image/gif" hidden (change)="handleFileInput($event)">
            </label>
        </button>
        <!--<button type="button" class="btn btn-outline-secondary grpCls"><i class="bi bi-music-note-list"></i></button>-->
    </div>
    <div class="arrow-down"></div>
</div>

<!--<ul class="list-group contextMenuCls" *ngIf="selectedText.length > 0" style="position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y">
    <li class="list-group-item">
            <input type="text" class="form-control" placeholder="Tag Text" [(ngModel)]="tagText">
            <button class="btn btn-primary btn-sm m-2" (click)="tagSelectionWithText('dblline', tagText)">Tag Text with double line</button>
    </li>
    <li class="list-group-item">
        <input type="text" class="form-control" placeholder="Tag Text" [(ngModel)]="tagText2">
        <button class="btn btn-primary btn-sm m-2" (click)="tagSelectionWithText('singleline', tagText2)">Tag Text with Single line</button>
    </li>
    <li class="list-group-item">
        <input type="text" class="form-control" placeholder="Tag Text" [(ngModel)]="tagText3">
        <button class="btn btn-primary btn-sm m-2" (click)="tagSelectionWithText('highlight', tagText3)">Tag Text with Highlighter</button>
    </li>
</ul>-->
