.contextMenuCls {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5%;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid #cdcdcd;
    position: absolute;
    bottom: -10px;
    left: 40px;
}

.grpCls {
    margin: 5px;
}

.dblLine {
    text-decoration: underline;
    border-bottom: 1px solid #000;
}

.singleLine {
    text-decoration: underline;
    margin: 5px;
}

.highlighter {
    background-color: yellow;
    margin: 5px;
}

.imageBtn {
    margin-left: 5px;
    margin-bottom: 5px;
    background: burlywood;
    color: black;
    border: 1px solid #7f7a7a;
}

.audioBtn {
    margin-left: 5px;
    margin-bottom: 1px;
    background: yellowgreen;
    color: black;
    border: 1px solid #7f7a7a;
}

.uploadBtn{
    cursor: pointer;
}